/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    display: flex;
    background: #000;
    color: #fff;
}

/* SIDEBAR */
.sidebar {
    width: 90px;
    background: #000;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    gap: 40px;
    position: fixed;
    height: 100vh;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #aaa;
    font-size: 11px;
    gap: 8px;
}

.sidebar-item img {
    width: 28px;
    opacity: 0.7;
}

.sidebar-item:hover,
.sidebar-item.active {
    color: #4aa3df;
}

.sidebar-item:hover img,
.sidebar-item.active img {
    opacity: 1;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 90px;
    width: calc(100% - 90px);
}

/* HEADER */
header {
    border-bottom: 1px solid #333;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 40px;
}

nav li {
    color: #aaa;
    cursor: pointer;
}

nav li:hover {
    color: #4aa3df;
}

/* HERO */
#hero {
    margin: 40px;
    border: 1px solid #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url("image2.jpg") center/cover no-repeat;
    padding: 40px;
}

#hero h2 {
    color: #4aa3df;
    font-size: 20px;
    margin-bottom: 10px;
}

#hero p {
    max-width: 600px;
    margin-bottom: 20px;
    color: #ddd;
}

#discoverBtn {
    padding: 12px 30px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

#discoverBtn:hover {
    background: #fff;
    color: #000;
}

/* STATS */
#stats {
    margin: 80px 40px;
    border: 1px solid #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url("photo_content.jpg") center/cover no-repeat;
    padding: 40px;
}

#stats h2 {
    color: #4aa3df;
    margin-bottom: 10px;
}

#stats p.description {
    margin-bottom: 40px;
    color: #ccc;
}

/* STATS ROW */
.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CARD */
.card {
    display: flex;
    align-items: center;
    gap: 15px;

    transform: translateY(30px);
}

.card img {
    width: 40px;
    opacity: 0.8;
}

.card .text h4 {
    font-size: 14px;
    color: #aaa;
}

.card .text span {
    font-size: 22px;
    font-weight: bold;
    color: #4aa3df;
}

/* BUTTON RIGHT */
.next-mission {
    text-align: right;
}

.next-mission button {
    margin-top: 10px;
    padding: 12px 25px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.next-mission button:hover {
    background: #fff;
    color: #000;
}

#resultppl {
    width: 90px;
}

#statsdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff
}